.nav {
    position: relative; /* Обязательно для позиционирования псевдоэлемента */
    padding: 10px; /* Внутренний отступ для содержимого */
    overflow: hidden; /* Убедитесь, что псевдоэлемент не выходит за границы */
}

.nav::before {
    content: ""; /* Обязательное свойство для псевдоэлемента */
    display: flex;
    position: absolute; /* Позиционирование относительно родителя */
    top: 1vh; /* Отступ сверху (можно настроить) */
    bottom: 1vh; /* Отступ снизу (можно настроить) */
    left: 0.5rem;
    right: 0.5rem;
    background-color: var(--theme); /* Цвет фона */
    border-radius: 6px; /* Скругление углов */
    z-index: -1; /* Помещаем фон за содержимым */
}

.logo {
    font-size: 3rem;
}