.splide__arrow {
  background: none !important;
  border: none !important;
  width: 20% !important; /* Ширина стрелок */
  height: 100% !important; /* Высота стрелок */
  top: 45% !important;
  z-index: 10; /* Стрелки должны быть поверх слайдов */
  position: absolute !important;
  overflow: hidden !important;
  opacity: 0; /* Стрелки скрыты по умолчанию */
  visibility: hidden; /* Стрелки невидимы по умолчанию */
  transition: opacity 0.3s ease, visibility 0s 0.3s ease !important; /* Плавно появляющиеся стрелки */
}

/* Стрелка на левом краю */
.splide__arrow--prev {
  left: -7% !important;
}

/* Стрелка на правом краю */
.splide__arrow--next {
  right: -7% !important;
}

/* Псевдоэлемент для создания градиента */
.splide__arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: none; /* Убираем любой фон по умолчанию */
}

/* Градиент для левой стрелки */
.splide__arrow--prev::before {
  background: radial-gradient(
    ellipse farthest-corner,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 60% /* Градиент плавно исчезает к центру */
  );
  left: 0;
}

/* Градиент для правой стрелки */
.splide__arrow--next::before {
  background: radial-gradient(
    ellipse farthest-corner,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 60% /* Градиент плавно исчезает к центру */
  );
  right: 0;
}

/* Показываем стрелки при наведении на область стрелки */
.splide__arrow:hover {
  opacity: 1; /* Стрелки становятся видимыми */
  visibility: visible; /* Стрелки становятся видимыми */
  transition: opacity 0.3s ease, visibility 0s 0s ease; /* Плавное появление */
}

/* Показываем градиент при наведении на стрелку */
.splide__arrow:hover::before {
  opacity: 1; /* Показываем градиент при наведении */
}

.splide {
  position: relative;
  overflow: hidden;
}

.splide__track {
  position: relative;
}

.splide__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
