.splide__arrow {
  display: flex;
  background: none !important;
  border: none !important;
  width: 20% !important; /* Ширина стрелок */
  height: 100% !important; /* Высота стрелок */
  top: 45% !important;
  z-index: 10; /* Стрелки должны быть поверх слайдов */
  position: absolute !important;
  overflow: hidden !important;
  fill-opacity: 0;
}

/* Стрелка на правом краю */
.splide__arrow--next {
  right: -7% !important;
}

/* Стрелка на левом краю */
.splide__arrow--prev {
  left: -7% !important;
}

.splide__arrow svg {
  z-index: 10;
  fill: rgba(0, 0, 0, 0);
  height: 1.2rem !important;
  width: 1.2rem !important;
}

/* Псевдоэлемент для создания градиента */
.splide__arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 11;
  transition: opacity 0.3s ease;
  background: none; /* Убираем любой фон по умолчанию */
}
/* Градиент для левой стрелки */
.splide__arrow--prev::before {
  background: radial-gradient(
    ellipse farthest-corner,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 70% /* Градиент плавно исчезает к центру */
  );
  left: -11%;
}
 /* Градиент для правой стрелки */
.splide__arrow--next::before {
  background: radial-gradient(
    ellipse farthest-corner,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 70% /* Градиент плавно исчезает к центру */
  );
  left: 11%;
}
/* Показываем градиент при наведении на стрелку */
.splide__arrow:hover::before {
  opacity: 1; /* Показываем градиент при наведении */
}

/* Показываем стрелки при наведении на область стрелки */
.splide__arrow:hover {
  fill-opacity: 1; /* Стрелки становятся видимыми */
  transition: fill-opacity 0.4s ease; /* Плавное появление */
} *
.splide {
  position: relative;
  overflow: hidden;
}

.splide__track {
  position: relative;
}

.splide__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.splide__pagination {
  top: 83.7%;
  z-index: 0;
}

.splide__pagination__page {
  background: var(--primary) !important;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: transform .2s ease !important;
  width: 8px;
}
